section{
    background:blueviolet;
    h1{
        background: red;
    }
    h2{
        background: purple;
    }
    p{
        background: yellowgreen;
    }
}

footer{
    background: #444;

    h4{
        color: red;

        a{
            color: blue;
        }
    }
}